body {
    margin: 0;
    padding: 0;
}

.mainContainer {
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    box-sizing: border-box;
    background-color: honeydew;
}

.mainGroup {
    display: flex;
    height: 90vh;
}

.header {
    text-align: center;
    height: 10vh;
    width: 100%;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.pictureParent {
    width: 50%;
    height: 100%;
    text-align: center;
}

.picture {
    width: 100%;
    height: 60%;
}

.descreption {
    width: 50%;
    height: 100%;
    font-size: large;
}